

<div>
    <h1>Welcome to the Blog Page...</h1>
    
    <!--<div class="bloglet" ng-repeat="blog in blogs">-->
    <!--    <p class="well">-->
    <!--        {{blog.txt}}-->
    <!--    </p>-->
    <!--    <div class="voter">-->
    <!--        <span class="fa fa-caret-up" ng-click="upvote(blog.id)"></span>-->
    <!--        <span class="score">{{blog.score}}</span>-->
    <!--        <span class="fa fa-caret-down" ng-click="downvote(blog.id)"></span>-->
    <!--    </div>-->
    <!--</div>-->
    
    <div class="bloglet" ng-repeat="blog in blogs">
    </div>
</div>