* {
    box-sizing: border-box;
}

body {
/*    background: #A9A87A;*/
}

ul {
    list-style: none; 
    padding: 0; 
    margin: 0;    
}

header {
    display: block; 
    top: 0; 
    background: #000;
    z-index: 99;
}

.site-title {
    color: #FFF;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
    background: #0336F5;
    padding: 5px 15px;
    display: inline-block;
    font-size: 20px;
}

header ul {
    float: right;
    font-size: 16px;    
}

header ul li {
    display: inline-block;    
}

header ul li a {
    display: block;
    text-decoration: none !important;
    color: #D5EAF7 !important;
    padding: 10px 15px 5px 15px;
    border-bottom: 5px solid transparent;
}

header ul li:hover a,
header ul li.active a{
    border-color: blue;
}

.view-container {
    padding: 40px 15px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.bloglet {
    position: relative;
}

.bloglet .well {
    font-family: cursive;
    padding-left: 50px;
    min-height: 115px;
    background: #C3D4D4;
    color: #000;
}

.bloglet .voter {
    position: absolute;
    left: 5px;
    top: 0;
    width: 50px;
}

.bloglet .voter .fa {
    font-size: 50px;
    color: #818FFF;
    position: absolute;
    cursor: pointer;
}

.bloglet .voter .score {
    font-size: 21px;
    color: #FF0;
    padding: 2px;
    background: #000;
    border-radius: 5px;
    position: absolute;
    top: 43px;
    left: 0;
    width:29px;
    text-align: center;
    display: inline-block;
}

.bloglet .voter .fa-caret-up {
    top: 0px;
}

.bloglet .voter .fa-caret-down {
    top: 61px;
}

footer {    
    display: block; 
    bottom: 0;     
    padding: 5px; 
    background: #000; 
    color: #FFF; 
    text-align: center;
}

.fixed-full-width {
    position: fixed;
    left: 0; 
    right: 0;
}


/************* Media Queries ****************/
@media (max-width:767px) {
    .site-title {
        width: 100%;
        text-align: center;
    }
    
    .view-container {
        padding: 80px 15px;
    }
}